.DS_STORE
config.rb
.sass-cache/

#ignore ProcessWire files and folders
*.old
*.old/*
*.new
*.new/*
old
old/*
*.1
*.1/*
sess_*
*.cache
*.swp
*.swo
*.sh
**/site/config-dev.php
**/site/assets/cache/**
**/site/assets/files/**
**/site/assets/logs/**
**/site/assets/sessions/**
!**/site/assets/**/.*
**/site/assets/installed.php

# ignore grunt files
node_modules
npm-debug.log

# ignore *.css.map and *.js.map files
*.css.map
*.js.map
